.Card {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.Card p {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


